<%- include ("partials/head") %>


  <div class="logo">
    <h3><a href="#" class="logo-name">E-Results</a></h3>
  </div>

  

<style>
  table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    
  }
  </style> 


    <table id="grid" align="center">  
      <tr>
        <td><%= subject1Id %> </td>
        <td><%= subject1mark %></td>  
      </tr>
      <tr>
        <td><%= subject2Id %> </td> 
        <td><%= subject2mark %></td>  
      </tr>
      <tr>
        <td><%= subject3Id %> </td>
        <td> <%= subject3mark %></td> 
      </tr> 
      <tr>
        <td><%= subject4Id %> </td> 
        <td> <%= subject4mark %></td>  
      </tr>
      <tr>
        <td><%= subject5Id %> </td> 
        <td> <%= subject5mark %></td>  
      </tr> 
      <tr>
        <td><%= subject6Id %> </td> 
        <td> <%= subject6mark %></td>  
      </tr>   
      </table>  